.nav-menu a{
    text-decoration: none;
    color: #54b9a6;
    padding: 65px;

}
.nav-menu li{
    display: inline;
}
.nav-menu{
    padding: 15px;
    margin: 10px 15%;
    font-size: 18px;
    font-family:Arial;
}
.container{
    color: #373737;
    background-color: #f5f6f7;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
}
.title{
    font-size: 22px;
    margin: 1%;
}
.container img{
    width: 100%;
}
.container p{
    margin: 0 15%;
}
.button {
    margin: 50px;
    display: inline-block;
    padding: 10px 50px;
    background-color: #16a085;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 12px ;
}
.button:hover{
    background-color:#2DA09C ;
}
.footer{
    font-family: Arial;
    text-align: right;
}
